<!--http://127.0.0.1:8000/main/detail/1-->
<!--맨 끝의 숫자는 게시물 번호!-->
{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
        <head>

        </head>

        <body>
            <h1>notice_detail</h1>
            {{ notice.title }}<br> <!--notice게시물 제목-->

            <br>
            <!--수정하기 버튼-->
            <!--superuser만 수정버튼 보임-->
            {% if user.is_superuser %}
                <a href="{% url 'mainapp:notice_update' notice.id %}">수정하기</a><br>
                <a href="{% url 'mainapp:notice_delete' notice.id %}">삭제하기</a><br>

            {% endif %}
        </body>
    </html>


{% endblock %}