
{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
        <head>

        </head>

        <body>
            <h1>notice_detail</h1>
            {{ notice.title }}<br> <!--notice게시물 제목-->
            {{ notice.date }}<br> <!--notice게시물 게시날짜-->
            {{ notice.describe }}<br> <!--notice게시물 내용-->

            <br>
            <!--수정하기 버튼-->
            <!--superuser만 수정버튼 보임-->
            {% if user.is_superuser %}
                <a href="{% url 'mainapp:notice_update' notice.id %}">수정하기</a><br>
            {% endif %}
        </body>
    </html>


{% endblock %}